.title_div {
  background-color: blanchedalmond;
  height: 100px;
  width: 100%;
  padding: 60px auto 60px auto;
  margin-bottom: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto 50px auto;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px auto 50px auto;
}
.search input {
  width: 80%;
  height: 30px;
  font-size: 18px;
  border: none;
  border-bottom: 1px black solid;
}

.search button {
  font-size: 18px;
  border: none;
  background-color: green;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

.movieList {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieCard {
  width: 430px;
  height: 700px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 9px;
  position: relative;
  flex-direction: column;
  float: left;
  display: flex;
  margin-right: 40px;
  margin-bottom: 60px;
  display: block;
}
.movieCard-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0px auto 50px auto;
}
.movieCard-img {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 10px auto;
}

.movieCard-title {
  max-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px auto 50px auto;
}

.movieCard-content {
  height: 220px;
  margin: 20px 10px 10px 10px;
  flex-direction: column;
}
.movieCard-vote-average {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
