#hide {
  margin-top: 60px;
}
.division {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin: auto;
}
.line2 {
  border-top: 2px solid white;
  margin-top: 17px;
  width: 64%;
  padding-left: 18%;
  padding-right: 10%;
}
#reviewDiv {
  height: 245px;
  width: 50%;
  margin: auto;
  /* border-right: 3px solid #7e7d7b;
  border-bottom: 3px solid #7e7d7b; */
  /* background-color: dimgray; */
  border-radius: 20px;
  padding-left: 5%;
}
.personal {
  display: block;
  padding-top: 25px;
}
#nickname {
  line-height: 2;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  font-size: 16px;
}
#password {
  line-height: 2;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  font-size: 16px;
}
.reviewInput {
  display: inline-block;
  width: 100%;
  /* padding-left: 18%; */
  padding-right: 10%;
  position: relative;
}
#review {
  display: inline-block;
  height: 100px;
  width: 90%;
  margin-top: 12px;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  font-size: 16px;
}
#writeBtn {
  display: inline-block;
  height: 80px;
  position: absolute;
  top: calc(50% - 32px);
  right: calc(18%);
  background-color: dimgray;
  color: white;
}

#stackReview {
  margin-top: 40px !important;
}
#hide > ul {
  width: 45%;
  background-color: rgb(0, 0, 0);
  margin: auto;
  font-size: 16px;
}

#hide > ul > ul {
  background-color: aliceblue;
  border: 2px solid darkgray;
  border-radius: 8px;
  padding: 10px 0px 30px 40px;
  margin-bottom: 35px;
}
hr {
  width: 85%;
  margin-right: 15%;
}

#hide > ul > ul > li {
  color: black;
  line-height: 1.5;
}

#hide > ul > ul > li:first-child {
  font-size: 16px !important;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 13px;
}
